/*Especificidad 001*/
body{
  height:100%;
}
/*Especificidad 001*/
main{
  height: 60%;
  border: 0.02em solid black;
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* Creates 9 equal-width columns */
  grid-template-rows: repeat(11, 1fr);    /* Creates 9 equal-height rows */
  gap: 0;
}
/*Especificidad 002*/
main>p{
  padding: 0.25em;
  margin: 0;
  text-align: center;
  border:0.1em solid gray;
}
/*Especificidad 012*/
main>p[data-state="clicked"]{
  /*Hereda color black de body en estilo.css*/
  background-color: tomato;
}

/*Especificidad 012*/
main>p[data-state="empty"]{
  /*Hereda color black de body en estilo.css*/
  background-color: black;
}
/*Especificidad 002*/
section button {
  width: calc(15% - 1em);
  height: 4em;
  text-align: center;
  font-size: 0.9em;
  background-color: #000;
  color: #FFF;
  margin: 0.35em;
}

@media screen and (max-width: 1000px) {
    /* Estilos para una mediaquery
  que muestre la botonera en tablet y móvil */
  /*Especificidad 011*/
  section[data-type=botonera] {
    /*Redefinido para ajustar a nuevo tamaño de pantalla*/
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /*Especificidad 012*/
  section[data-type=botonera] h2 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  /*Especificidad 011*/
    section[data-type=botonera] {
      display: none;

    }
    main{
      width:75%;
    }
}


