/*Especificidad 011*/
section[data-type="dinamico"] {
  padding:0.5em 0em 0em 0em;
  height:35em;
}
/*Especificidad 011*/
section:last-of-type  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /*Especificidad 001*/
  article {
    display: grid;
    place-items: center;
    max-width: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 1em;
  }
  /*Especificidad 002*/
  article h3 {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5em;
      font-size: 2em;
  }
  /*Especificidad 012*/
  section:first-of-type img{
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
  }
  /*Especificidad 002*/
  article>button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    /*Hereda color de la hoja de estilos estilo.css donde body tiene black color*/
    background-color: #fff;
    font-size: 1em;
  }
  /*Especificidad 011*/
  button:active {
    transform: scale(1.1);
  }
  /*Especificidad 011*/
  button[data-action=prev] {
    top: 50%;
    left: 2%;
  }
  /*Especificidad 011*/
  button[data-action=next] {
    top: 50%;
    right: 2%;
  }